.passwordall{
    min-height: 717px;
    height: 100%;
    width: 79%;
    background: white;
    padding: 35px;
    display: flex;
    flex-direction: column;
}


.password-title{
    font-weight: 700;
    font-size: 36px;
    cursor: pointer;
    color: #6E718B;
}

.password-title2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.password-title2-enable{
    padding-left: 27px;
    font-weight: 500;
    font-size: 18px;
    color: #805AD5;
    cursor: pointer;
}

.password-title2-factor{
    font-weight: 500;
    font-size: 18px;
    color: #3B3D50;
}

.password-title3{
    padding-top: 51px;
}

.password-title2-change{
    color: #55576d;
    font-weight: 500;
    font-size: 22px;
}

.password-title2-change2{
    color: #86878E;
    font-weight: normal;
    font-size: 16px;
}

.password-input1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-top: 33px;
}
.password-input2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-top: 23px;
    
}


.password-input1-text{
    padding-right: 16px;
    color: #6E718B;
    font-weight: 500;
    font-size: 18px;
}

.password-input1-text2{
    padding-right: 16px;
    color: #6E718B;
    font-weight: 500;
    font-size: 18px;
    padding-right: 37px;
}

.password-input1-text3{
    padding-right: 16px;
    color: #6E718B;
    font-weight: 500;
    font-size: 18px;
    padding-right: 10px;
}

.password-input1-input{
    padding: 5px;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #3B3D50;
    border: 1px solid white;
    border-radius: 4px;
}

.password-input1-input:hover{
    padding: 5px;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #3B3D50;
    border: 1px solid #DADADA;
}



.password-all-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}
.password-button-save{
    color: white;
    background: #A588E7;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
    padding: 13px 60px;
    /* margin-top: 360px; */
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border:1px solid #A588E7;
}
.password-button-censel{
    color: #A588E7;
    background: #EAE0FF;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 13px 60px;
    /* margin-top: 360px; */
    cursor: pointer;
    border: 1px solid #bebbc4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width:740px){
    .password-input1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding-top: 33px;
    }

    .password-input2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding-top: 23px;
        
    }

    .passwordall{
        min-height: 717px;
        height: 100%;
        width: 100%;
        background: white;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .password-title2{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        padding-top: 25px;

    }

    .password-title3{
        padding-top: 51px;
        padding-right: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .password-title{
        font-weight: 700;
        font-size: 30px;
        cursor: pointer;
        color: #6E718B;
    }
}

@media screen and (max-width:400px){
    .password-input1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding-top: 33px;
    }

    .password-input2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding-top: 23px;
        
    }

    .passwordall{
        min-height: 717px;
        height: 100%;
        width: 100%;
        background: white;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .password-title2{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        padding-top: 25px;

    }

    .password-title3{
        padding-top: 51px;
        padding-right: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .password-title{
        font-weight: 700;
        font-size: 25px;
        cursor: pointer;
        color: #6E718B;
    }
}
